.navbar {
    background: #17202A;
    color: #eceef0;
}
.navbar-brand {
    color: #EBEDEF;
    font-family: 'Monda', sans-serif;
    font-size: 1.5em;

}
#img-container {
    border:3px solid black ;
    border-bottom-color: white;
    height: 100vh;
    background-image:  url('/src/assets/git.png') ;
    background-size: 100% 90%;
    background-repeat: no-repeat;
}